// Global module
var app = angular.module('app', ['app.main', 
    'selectDirective',
#foreach ( $entityClass in $selectedEntities )
    'app.${entityClass.name.toLowerCase()}', 
#end
    'app.storage.services']);

// Add usefull fct into rootScope
app.run(function(${DOLLAR}rootScope, ${DOLLAR}templateCache, ${DOLLAR}http, ApiStorage) {

	// Logger
	${DOLLAR}rootScope.logMe = function (logentry) {
		console.log(logentry);
	};

	${DOLLAR}rootScope.showInfo = function(message) {
		${DOLLAR}rootScope.show(message, "alert-success");
    };

	${DOLLAR}rootScope.showError = function(message) {
		${DOLLAR}rootScope.show(message, "alert-error");
    };

	${DOLLAR}rootScope.show = function(message, myclass) {
        ${DOLLAR}('#alert_placeholder').html('<div class="alert ' + myclass + '"><a class="close" data-dismiss="alert">×</a><span>'+message+'</span></div>')
		window.setTimeout(function() { $(".alert").alert('close'); }, 3000);
    };

});

// Welcome module
var appmain = angular.module('app.main', ['ngRoute'], function(${DOLLAR}routeProvider, ${DOLLAR}locationProvider) {
	
	// Declare welcome route
	${DOLLAR}routeProvider.when('/welcome', {
		templateUrl : 'welcome.html',
	    controller: 'MainCtrl'
	});

	// Declare futur route
	${DOLLAR}routeProvider.when('/inprogress', {
		templateUrl : 'inprogress.html',
	    controller: 'MainCtrl'
	});

	// Declare default route
	${DOLLAR}routeProvider.otherwise({
		redirectTo : '/welcome',
	    controller: 'MainCtrl'
	});
});

// Main controller
appmain.controller('MainCtrl', ['${DOLLAR}scope', '${DOLLAR}location', '${DOLLAR}routeParams', function (${DOLLAR}scope, ${DOLLAR}location, ${DOLLAR}routeParams) {
    var self = this;
}]);

