

<div id="${beanClass.name.toLowerCase()}List" data-ng-controller="${beanClass.name}ListCtrl">
 
    <h2>${beanClass.name}s list</h2>

	<table class="table table-striped colortable">
	  <thead>
	    <tr>
#foreach( $field in $beanClass.attributes )
		      <th>${field.name}</th>
#end
	    </tr>
	  </thead>
	  <tbody>
        <tr data-ng-repeat="${beanClass.name.toLowerCase()} in ${beanClass.name.toLowerCase()}s">
#foreach( $field in $beanClass.attributes )
	      		<td>
#if ( $beanClass.hasCompositePrimaryKey() )
					// Comment faire un lien avec une cle composite ??????????? enchainer les parties de clés ?

#else
#foreach( $onekey in $beanClass.keyAttributes )
	      			<a href="${SHARP}/${beanClass.name.toLowerCase()}/{{${beanClass.name.toLowerCase()}.${onekey.name}}}">{{${beanClass.name.toLowerCase()}.${field.name}}}</a>
#end
#end
	      		</td>
#end
	    </tr>
	  </tbody>
	</table>
 
 	<br />
 	<button data-ng-click="openCreate${beanClass.name}Page()">New</button>
 
</div>